<div class="image-upload">
	
<%= form_for(object, :remote => true) do |f| %>
	 
		<!--<%= f.label :img %>-->
		<%= f.file_field :img %>
		
		<!-- <%= f.label :tag_id %>-->
		
		<% bronze_filter = 'points > ' + BRONZE_POINTS.to_s %>
		<% @tags.where(bronze_filter).each do |t| %>
		
			<%= f.radio_button :tag_id, t.id %>
			<%= label :image_tag_id, t.id, t.title %>
		
		<% end %>
					 
		<%= f.submit "Submit Image" %>					 
	
<% end %>
		
</div>