<div class="image-upload">
	
<%= form_for(object) do |f| %>
	
		<%= f.label :img %>asd
		<%= f.file_field :img %>
		
		<%= f.label :tag_id %>
		<%= f.select(:tag_id, @tags.collect {|tag| [tag.title, tag.id]}, 
					 :allow_blank => false) %>
					 
		<%= f.submit "Add Image" %>					 
	
<% end %>
		
</div>