		<% if user_signed_in? %>
			<div class="item nav-item">
				<%= link_to "Logged in as #{current_user.username}", '/hey' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</div>
		<% end %>
		<div class="item nav-item">
			<% if !@user.ranks.where('points >= 10').empty? %>
				<%= render 'shared/image_upload', object: @image %>
			<% end %>
		</div>
		<% ranks = @user.ranks.where('points > 0').order('points DESC') %>
		
			<div class="item nav-item tag-ranks">
				<% if !ranks.empty? %>
				<% ranks.each do |r| %>
				<div id="tag<%= r.tag_id %>" data-points="<%= r.points %>" class="tag-container">
					<h3 class="progressheader <%= r.points_to_rank %>"><%= Tag.find(r.tag_id).title %></h3>
					<div class="progressbar">
						<div class="progress" style="width: 
							<%= r.points_to_percent %>%">
						</div>
						<div class="background">
							<div class="nomedal"></div>
							<div class="bronze"></div>
							<div class="silver"></div>
							<div class="gold"></div>
						</div>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>
		
	<% @allimages.each do |i| %>
		<div class="item 
					<%= "item-liked " if current_user.images.include?(i) %>
					<%= "mine " if current_user.uploads.include?(i) %>
					<%= i.tag.title.downcase.gsub(" ", "") %>" id="img<%= i.id %>">
			<%= image_tag(i.img.url, :alt => i.tag.title) %>
			<%= link_to('', like_image_path(i), :class => "item-options like") %>
			<a class="item-options tag-type" data-tag="<%= i.tag.title %>" data-filter="<%= i.tag.title.downcase.gsub(" ", "") %>" data-flag="false" href="#">
				<%= i.tag.title %>
			</a>
			<% if i.uploader != @user %>
				<%= link_to("uploaded by " + i.uploader.username, user_path(i.uploader.id), :class => "item-options item-user") %>
			<% end %>
		</div>
	<% end %>



