		<div class="item nav-item">
			<% if !@user.ranks.where('points >= 10').empty? %>
				<%= render 'shared/image_upload', object: @image %>
			<% end %>
		</div>
		<% ranks = @user.ranks.all(:order => 'points DESC') %>
		<% if !ranks.empty? %>
			<div class="item nav-item tag-ranks">
				<% ranks.each do |r| %>
					<h3 class="progressheader <%= points_to_rank(r.points.to_i) %>"><%= Tag.find(r.tag_id).title %></h3>
					<div class="progressbar">
						<div class="progress" style="width: 
							<%= points_to_percent(r.points.to_i) %>%">
						</div>
						<div class="background">
							<div class="nomedal"></div>
							<div class="bronze"></div>
							<div class="silver"></div>
							<div class="gold"></div>
						</div>
					</div>

				<% end %>
			</div>
		<%end%>
	<% @allimages.each do |i| %>
		<div class="item 
					<%= "item-liked " if current_user.images.include?(i) %>
					<%= i.tag.title.downcase %>" id="img<%= i.id %>">
			<%= image_tag(i.img.url, :alt => i.tag.title) %>
			<%= link_to('Like', like_image_path(i), 
						:method => :post, :remote => true, :class => "item-options like") %>

			<!-- <div class="item-options collect">Collect</div> -->
			<div class="item-options tag-type"><%= i.tag.title %></div>
		</div>
	<% end %>



