<% provide(:title, 'Sign In') %>
<div class="signup">
<div class="logo">GatherYe</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
<!--    <div><%= f.check_box :remember_me %> <span class="remember">Remember Me</span></div> -->
  <% end -%>

  <div><%= f.submit "Sign in", :class => "button" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<div id="container">
<% (1..20).each do |i| %>
	<% rand1 = [*300..310].sample;
	rand2 = [*200..610].sample %>
	<%= content_tag(:div, image_tag("http://lorempixel.com/#{rand1}/#{rand2}/"), :class => "item") %>
<% end %>
</div>