<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "gatherye", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div id="container">		
		<!--<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
		<%= yield %>
	</div>

	<script type="text/javascript">

		$(function() {

			$('.item-options.like').click(function(e) {
				e.preventDefault();
				$parentItem = $(this).parent('.item');
				$parentItem.toggleClass('item-liked');

				if ($parentItem.hasClass('item-liked') && !$parentItem.hasClass('mine')) {
					var offset = $(this).offset();
					var $newpoint = $('<div class="newpoint">1</div>');
					
					$('body').append($newpoint);
					$newpoint.css({
						'top': offset.top - 10,
						'left': offset.left
					});

					$newpoint.animate({
						'top': offset.top - 60,
						'opacity': 0
					})
					console.log($newpoint)
				}

				$.getJSON(
					$(this).attr('href'),
					{},
					function(response) {
						// Do things after like
						var $tagRanks = $('.tag-ranks');
						var $tagdiv = $('div#tag' + response.tag);

						// Add if doesn't exist
						if ($tagdiv.length == 0) {
							var tagdiv = "<div id='tag" + response.tag + "' ";
							tagdiv += "data-points='" + response.points + "' ";
							tagdiv += " class='tag-container'>";
							tagdiv += "<h3 class='progressheader " + response.rank + "'>" + response.tagtitle + "</h3>";
							tagdiv += "<div class='progressbar'>";
							tagdiv += "<div class='progress' style='width:" + response.width + "%'></div>";
							tagdiv += "<div class='background'>"
							tagdiv += "<div class='nomedal'></div><div class='bronze'></div><div class='silver'></div><div class='gold'></div>"
							tagdiv += "</div></div></div>"
							$(tagdiv).appendTo($tagRanks);
						}

						// Change Width & set points
						$tagdiv.find('div.progress').width(response.width + '%');
						$tagdiv.data("points", response.points); //doesn't change the dom

						// Set rank
						$tagdiv.find('h3.progressheader').removeClass('gold').removeClass('bronze').removeClass('silver').addClass(response.rank);

						// Remove if set to zero
						if (response.points == 0) {
							$tagdiv.slideUp();
							$tagdiv.remove();
						}

						// Reorder ranks
						console.log('reorderin');
						ranks = $tagRanks.children('.tag-container');
						ranks.detach().sort(function(a,b) {
							return $(b).data('points') - $(a).data('points');
						});
						$tagRanks.append(ranks);


						var $imageUpload = $('div.image-upload');
						// If new bronze medal
						if (response.new_bronze_flag && response.rank == "bronze") {
							
							var newtag = "<input id='image_tag_id_" + response.tag + "' ";
							newtag += "name='image[tag_id]' type='radio' value='" + response.tag + "' />";
							newtag += "<label for='image_tag_id_" + response.tag + "'>";
							newtag += response.tagtitle + "</label>";

							$imageUpload.find('.tagselect').append(newtag);
							var tags = $imageUpload.find('label');

							// Show if hidden
							if (tags.length == 1) {
								$imageUpload.find('#image_tag_id_' + response.tag).attr('checked', 'checked');
								$imageUpload.show();

							}
						} else if (response.new_bronze_flag && response.rank != "bronze") {
						// If lost bronze medal
							$("input#image_tag_id_" + response.tag).remove();
							$("label[for='image_tag_id_" + response.tag + "']").remove();

							var tags = $imageUpload.find('input[type="radio"]');

							if (tags.length == 0) {
								$imageUpload.hide();
							} else if ($("label[checked='checked']").length == 0) {
								console.log(tags);
								tags.first().attr('checked', 'checked');
							}
						}

						$(window).resize();

					}
				);
				return false;
			});

			// Get isotope to filter
			$('.item-options.tag-type').click(function(){
				var $container = $('#container');
				$container.isotope({  animationEngine: "jquery" });

				if ($(this).data("flag") == "true" ) {
					var selector = "*";
					$(this).data("flag", "false");
					$(".item." + $(this).attr('data-filter') + " a.tag-type").html($(this).data("tag"));
				} else {
					var selector = "." + $(this).attr('data-filter') + ", .nav-item";	
					$(this).data("flag", "true");
					$(".item." + $(this).attr('data-filter') + " a.tag-type").html("Exit " + $(this).data("tag"));
				}

				console.log(selector);
				$container.isotope({ filter: selector });
				$container.isotope({ animationEngine: "css"});
				$(window).resize();

			  
				return false;
			});
		});

	</script>
</body>
</html>
