<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "gatherye", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div id="container">		
		<% if user_signed_in? %>
	
			<!-- <%= link_to 'Edit profile', edit_user_registration_path %> -->
			<div class="item nav-item">
				<%= link_to "Logged in as #{current_user.username}", '/hey' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</div>
		<% end %>
		<!--<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
		<%= yield %>
	</div>

	<script type="text/javascript">

		$(function() {

			$('.item-options.like').click(function(e) {
				e.preventDefault();
				$parentItem = $(this).parent('.item');
				$parentItem.toggleClass('item-liked');

				if ($parentItem.hasClass('item-liked') && !$parentItem.hasClass('mine')) {
					var offset = $(this).offset();
					var $newpoint = $('<div class="newpoint">1</div>');
					
					$('body').append($newpoint);
					$newpoint.css({
						'top': offset.top - 10,
						'left': offset.left
					});

					$newpoint.animate({
						'top': offset.top - 60,
						'opacity': 0
					})
					console.log($newpoint)
				}

				$.getJSON(
					$(this).attr('href'),
					{},
					function(response) {
						// Do things after like
						var $tagdiv = $('div#tag' + response.tag);

						// Add if doesn't exist
						if ($tagdiv.length == 0) {
							var tagdiv = "<div id='tag" + response.tag + "' ";
							tagdiv += "data-points='" + response.points + "' ";
							tagdiv += " class='tag-container'>";
							tagdiv += "<h3 class='progressheader " + response.rank + "'>" + response.tagtitle + "</h3>";
							tagdiv += "<div class='progressbar'>";
							tagdiv += "<div class='progress' style='width:" + response.width + "%'></div>";
							tagdiv += "<div class='background'>"
							tagdiv += "<div class='nomedal'></div><div class='bronze'></div><div class='silver'></div><div class='gold'></div>"
							tagdiv += "</div></div></div>"
							$(tagdiv).appendTo('.tag-ranks');
						}

						// Change Width & set points
						$tagdiv.find('div.progress').width(response.width + '%');
						$tagdiv.data("points", response.points); //doesn't change the dom

						// Set rank
						$tagdiv.find('h3.progressheader').removeClass('gold').removeClass('bronze').removeClass('silver').addClass(response.rank);

						// Remove if set to zero
						if (response.points == 0) {
							$tagdiv.slideUp();
							$tagdiv.remove();
						}

						$(window).resize();

					}
				);
				return false;
			});

			var reorderTags = function() { //This will currently FUCK UP people with no tagranks
				tagbox = $('.tag-ranks');
				array = tagbox.find('div.tag-container');
			};
		});

	</script>
</body>
</html>
