<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "gatherye", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div id="container">		
		<% if user_signed_in? %>
	
			<!-- <%= link_to 'Edit profile', edit_user_registration_path %> -->
			<div class="item nav-item">
				<%= link_to "Logged in as #{current_user.username}", '/hey' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</div>
		<% end %>
		<!--<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
		<%= yield %>
	</div>

	<script type="text/javascript">

		$(function() {

			$('.item-options.like').click(function(e) {
				e.preventDefault();
				$parentItem = $(this).parent('.item');
				$parentItem.toggleClass('item-liked');

				if ($parentItem.hasClass('item-liked') && !$parentItem.hasClass('mine')) {
					var offset = $(this).offset();
					var $newpoint = $('<div class="newpoint">1</div>');
					
					$('body').append($newpoint);
					$newpoint.css({
						'top': offset.top - 10,
						'left': offset.left
					});

					$newpoint.animate({
						'top': offset.top - 60,
						'opacity': 0
					})
					console.log($newpoint)
				}

				$.getJSON(
					$(this).attr('href'),
					{},
					function(response) {
						$('div#' + response.tag).find('div.progress').width(response.width);
					}
				);
				return false;
			});

			
		});

	</script>
</body>
</html>
